.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 13px;
    gap: 20px;
    border: 1px solid black;
    /* border-radius: 8px; */
    margin-bottom: 25px;
}

.formField {
    padding: 5px;
}

.formBtn {
    align-self: center;
}

.errorMsg {
    color: red;
    font-size: smaller;
    margin-top: -10px;
}